flows.json
[
    {
        "id": "1037ebeeaedb2bae",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "81b227e15d842351",
        "type": "ui_upload",
        "z": "1037ebeeaedb2bae",
        "group": "1afdd582990bbbcd",
        "title": "upload",
        "accept": "",
        "name": "",
        "order": 1,
        "width": "5",
        "height": 5,
        "chunk": 256,
        "transfer": "binary",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "617b97896bff21dd",
                "3d5dd8af5467141f",
                "b9d816708e527335",
                "bec383edc1ec3f36"
            ]
        ]
    },
    {
        "id": "3d5dd8af5467141f",
        "type": "json",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 540,
        "wires": [
            [
                "20d42b3427198bcd",
                "cb4419ef7f98488b",
                "31d2a685fbfa2dfe",
                "a93d47364e6aa7a3"
            ]
        ]
    },
    {
        "id": "e6b5a361e05e143b",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "prepare info bucket",
        "func": "msg.objectName=msg.file.name\nmsg.filePath='./'+msg.file.name\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 860,
        "wires": [
            [
                "ca462d11776189c2"
            ]
        ]
    },
    {
        "id": "20d42b3427198bcd",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "prepare file",
        "func": "msg.payload.filename=msg.file.name\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 680,
        "wires": [
            [
                "adb9b99e044a99d3"
            ]
        ]
    },
    {
        "id": "adb9b99e044a99d3",
        "type": "file",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "filename": "payload.filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 180,
        "y": 800,
        "wires": [
            [
                "e6b5a361e05e143b"
            ]
        ]
    },
    {
        "id": "ca462d11776189c2",
        "type": "files",
        "z": "1037ebeeaedb2bae",
        "files_name": "upload-to-bucket-info",
        "host": "21e68ae2956bc2e2",
        "files_operation": "fPutObject",
        "files_bucket": "info",
        "files_object": "objectName(msg.objectName)",
        "files_filepath": "filePath(msg.filePath)",
        "files_metadata": "",
        "x": 320,
        "y": 1200,
        "wires": [
            [
                "8a3bb5efaf35b463"
            ],
            []
        ]
    },
    {
        "id": "cb4419ef7f98488b",
        "type": "http request",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://host.docker.internal:3233/api/v1/web/guest/default/hello_ac.json?name=Manos",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 720,
        "wires": [
            [
                "5c8164bb82774fd6"
            ]
        ]
    },
    {
        "id": "5c8164bb82774fd6",
        "type": "debug",
        "z": "1037ebeeaedb2bae",
        "name": "Test_Wsk",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "d14372e79480a1a2",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "FsReads",
        "label": "units",
        "format": "{{msg.payload.fsReads_avg| number:1}}",
        "min": 0,
        "max": "10000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 220,
        "wires": []
    },
    {
        "id": "d74468362c6b3187",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Transmissions",
        "label": "units",
        "format": "{{msg.payload.networkTransmitted_avg| number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 360,
        "wires": []
    },
    {
        "id": "4b0df815ab3b0f33",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Received",
        "label": "units",
        "format": "{{msg.payload.networkReceived_avg|number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 540,
        "wires": []
    },
    {
        "id": "256df16443cc9c9f",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Memory",
        "label": "units",
        "format": "{{msg.payload.memory_avg| number:1}}",
        "min": 0,
        "max": "100000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 720,
        "wires": []
    },
    {
        "id": "cdf0b4c21a99f88e",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU",
        "label": "units",
        "format": "{{msg.payload.cpu_avg| number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 840,
        "wires": []
    },
    {
        "id": "d52293e55c33360c",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3025ab263fc23fdd",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "FsWritesMAX",
        "label": "units",
        "format": "{{msg.payload.fsWrites_max| number:1}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 120,
        "wires": []
    },
    {
        "id": "930a2224c80f9e32",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3ed420c86ccf819f",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "FsWritesMIN",
        "label": "units",
        "format": "{{msg.payload.fsWrites_min| number:1}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 160,
        "wires": []
    },
    {
        "id": "7701e7b38911221e",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "1afdd582990bbbcd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "FsWrites",
        "label": "units",
        "format": "{{msg.payload.fsWrites_avg| number:1}}",
        "min": 0,
        "max": "10000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 80,
        "wires": []
    },
    {
        "id": "a378cf443a3cee3a",
        "type": "ui_text",
        "z": "1037ebeeaedb2bae",
        "group": "3025ab263fc23fdd",
        "order": 1,
        "width": "5",
        "height": "5",
        "name": "EMPTYMAX",
        "label": "",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 90,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3c843b47011f3c85",
        "type": "ui_text",
        "z": "1037ebeeaedb2bae",
        "group": "3ed420c86ccf819f",
        "order": 1,
        "width": "5",
        "height": "5",
        "name": "EMPTYMIN",
        "label": "",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 110,
        "y": 1160,
        "wires": []
    },
    {
        "id": "f6cac84bef739e5a",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3025ab263fc23fdd",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "FsReadsMAX",
        "label": "units",
        "format": "{{msg.payload.fsReads_max| number:1}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 260,
        "wires": []
    },
    {
        "id": "7c330f6acc9ebe09",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3ed420c86ccf819f",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "FsReadsMIN",
        "label": "units",
        "format": "{{msg.payload.fsReads_min| number:1}}",
        "min": 0,
        "max": "10000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 300,
        "wires": []
    },
    {
        "id": "1be6666bc37543b5",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3025ab263fc23fdd",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "TransmissionMAX",
        "label": "units",
        "format": "{{msg.payload.networkTransmitted_max| number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 420,
        "wires": []
    },
    {
        "id": "0a596a45cb22bbd4",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3ed420c86ccf819f",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "TransmissionMIN",
        "label": "units",
        "format": "{{msg.payload.networkTransmitted_min| number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 480,
        "wires": []
    },
    {
        "id": "84a5d4786c5ae9a3",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3025ab263fc23fdd",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "RecievedMAX",
        "label": "units",
        "format": "{{msg.payload.networkReceived_max| number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 600,
        "wires": []
    },
    {
        "id": "a25a3abafb608d81",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3ed420c86ccf819f",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "RecievedMIN",
        "label": "units",
        "format": "{{msg.payload.networkReceived_min| number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 660,
        "wires": []
    },
    {
        "id": "31d2a685fbfa2dfe",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "Statistic",
        "func": "let dict={}\nlet all_attributes=[\"fsWrites\",\"fsReads\",\"networkTransmitted\",\"networkReceived\",\"memory\",\"cpu\"]\nfor (let i=0; i<all_attributes.length; i++){\n    let attribute_array=msg.payload.map((x)=>parseFloat(x[all_attributes[i]]))\n    let maximum=0\n    for(let j=0; j<attribute_array.length; j++)\n        if(attribute_array[j]>maximum)\n            maximum=attribute_array[j]\n    dict[all_attributes[i]+\"_max\"]=maximum\n\n    let minimum=attribute_array[0]\n    for(let j=0; j<attribute_array.length; j++)\n        if(attribute_array[j]<minimum)\n            minimum=attribute_array[j]\n    dict[all_attributes[i]+\"_min\"]=minimum\n\n    let count=attribute_array.length\n    let sum=attribute_array.reduce((a,b)=>a+b,0)\n    dict[all_attributes[i]+\"_avg\"]=(sum/count)\n}\nmsg.payload=dict\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 540,
        "wires": [
            [
                "7701e7b38911221e",
                "d52293e55c33360c",
                "930a2224c80f9e32",
                "d14372e79480a1a2",
                "f6cac84bef739e5a",
                "7c330f6acc9ebe09",
                "d74468362c6b3187",
                "1be6666bc37543b5",
                "0a596a45cb22bbd4",
                "4b0df815ab3b0f33",
                "84a5d4786c5ae9a3",
                "a25a3abafb608d81",
                "256df16443cc9c9f",
                "02fd9bbbdf426bbd",
                "c92ae22c4b02133d",
                "cdf0b4c21a99f88e",
                "73dea4c6d2b9722e",
                "ae7d2940ed87df91"
            ]
        ]
    },
    {
        "id": "02fd9bbbdf426bbd",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3025ab263fc23fdd",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "MemoryMAX",
        "label": "units",
        "format": "{{msg.payload.memory_max| number:1}}",
        "min": 0,
        "max": "100000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 760,
        "wires": []
    },
    {
        "id": "c92ae22c4b02133d",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3ed420c86ccf819f",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "MemoryMIN",
        "label": "units",
        "format": "{{msg.payload.memory_min| number:1}}",
        "min": 0,
        "max": "100000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 800,
        "wires": []
    },
    {
        "id": "73dea4c6d2b9722e",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3025ab263fc23fdd",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "CPUMAX",
        "label": "units",
        "format": "{{msg.payload.cpu_max|number:1}}",
        "min": 0,
        "max": "100000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 880,
        "wires": []
    },
    {
        "id": "ae7d2940ed87df91",
        "type": "ui_gauge",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "group": "3ed420c86ccf819f",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "CPUMIN",
        "label": "units",
        "format": "{{msg.payload.cpu_min| number:1}}",
        "min": 0,
        "max": "100000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 920,
        "wires": []
    },
    {
        "id": "b9d816708e527335",
        "type": "http request",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "localhost:1880/file-uploader",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 230,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "617b97896bff21dd",
        "type": "buckets",
        "z": "1037ebeeaedb2bae",
        "buckets_name": "Create info bucket",
        "host": "21e68ae2956bc2e2",
        "buckets_operation": "makeBucket",
        "buckets_bucket": "info",
        "buckets_region": "us-east-1",
        "buckets_prefix": "",
        "buckets_recursive": false,
        "buckets_start_after": "",
        "x": 350,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e4c2873aaa0209fe",
        "type": "http in",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "url": "/file-uploader",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 530,
        "y": 1400,
        "wires": [
            [
                "27f2a55229968914"
            ]
        ]
    },
    {
        "id": "27f2a55229968914",
        "type": "http response",
        "z": "1037ebeeaedb2bae",
        "name": "RESP",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 1400,
        "wires": []
    },
    {
        "id": "cb68741a04120eb1",
        "type": "http in",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "url": "/file-uploader",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 550,
        "y": 1540,
        "wires": [
            [
                "bf9b9451cedab4f9"
            ]
        ]
    },
    {
        "id": "bf9b9451cedab4f9",
        "type": "http response",
        "z": "1037ebeeaedb2bae",
        "name": "GET-RESP",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 1540,
        "wires": []
    },
    {
        "id": "8a3bb5efaf35b463",
        "type": "file",
        "z": "1037ebeeaedb2bae",
        "name": "Write metadata",
        "filename": "payload.etag.etag",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 640,
        "y": 1200,
        "wires": [
            [
                "16659c29be2c66d8"
            ]
        ]
    },
    {
        "id": "16659c29be2c66d8",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "prepare metadata bucket",
        "func": "msg.objectName=msg.payload.etag.etag\nmsg.filePath='./'+msg.payload.etag.etag\nmsg.payload=msg.payload.etag.etag\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1200,
        "wires": [
            [
                "a05318f0f7babd48"
            ]
        ]
    },
    {
        "id": "a05318f0f7babd48",
        "type": "files",
        "z": "1037ebeeaedb2bae",
        "files_name": "upload-to-bucket-metadata",
        "host": "21e68ae2956bc2e2",
        "files_operation": "fPutObject",
        "files_bucket": "metadata",
        "files_object": "objectName(msg.objectName)",
        "files_filepath": "filePath(msg.filePath)",
        "files_metadata": "",
        "x": 1140,
        "y": 1200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bec383edc1ec3f36",
        "type": "buckets",
        "z": "1037ebeeaedb2bae",
        "buckets_name": "Create metadata bucket",
        "host": "21e68ae2956bc2e2",
        "buckets_operation": "makeBucket",
        "buckets_bucket": "metadata",
        "buckets_region": "us-east-1",
        "buckets_prefix": "",
        "buckets_recursive": false,
        "buckets_start_after": "",
        "x": 370,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a93d47364e6aa7a3",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "filter cpu",
        "func": "let all_attributes=\"cpu\"\nlet high_cpu=msg.payload.filter((x)=>parseFloat(x[\"cpu\"])>=0.17)\nmsg.payload=high_cpu\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 160,
        "wires": [
            [
                "bce3f35438585fa6"
            ]
        ]
    },
    {
        "id": "bce3f35438585fa6",
        "type": "mqtt out",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "topic": "HIGH_CPU_ImnYbvCaXsD",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78b6b521bfdf60ad",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "0b7c338714b88410",
        "type": "mqtt in",
        "z": "1037ebeeaedb2bae",
        "name": "",
        "topic": "HIGH_CPU_ImnYbvCaXsD",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "78b6b521bfdf60ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 260,
        "wires": [
            [
                "c7ad34970c5a57d1"
            ]
        ]
    },
    {
        "id": "c7ad34970c5a57d1",
        "type": "function",
        "z": "1037ebeeaedb2bae",
        "name": "notification",
        "func": "let message=\"These actions use cpu over the limit (>0.17):\"\nlet high_actions=msg.payload\nfor(let i=0; i<high_actions.length; i++)\n    message+=high_actions[i].actionname+\",\"\nmsg.payload=message\nmsg.topic=\"\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 320,
        "wires": [
            [
                "b5d43b8e578be1bd"
            ]
        ]
    },
    {
        "id": "b5d43b8e578be1bd",
        "type": "ui_toast",
        "z": "1037ebeeaedb2bae",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "1afdd582990bbbcd",
        "type": "ui_group",
        "name": "Analytics",
        "tab": "048bf2d3caf3dc2e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "21e68ae2956bc2e2",
        "type": "minio-config",
        "name": "MinIO Instance",
        "host": "localhost",
        "port": "7000",
        "useSsl": false
    },
    {
        "id": "3025ab263fc23fdd",
        "type": "ui_group",
        "name": "MAX",
        "tab": "048bf2d3caf3dc2e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ed420c86ccf819f",
        "type": "ui_group",
        "name": "MIN",
        "tab": "048bf2d3caf3dc2e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "78b6b521bfdf60ad",
        "type": "mqtt-broker",
        "name": "Docker-broker",
        "broker": "https://mqtt.eclipseprojects.io/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "048bf2d3caf3dc2e",
        "type": "ui_tab",
        "name": "Analysis",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]